{% extends 'base.html' %}
{% block styles %}

input{
    border-radius:10px !important;
    padding:10px 0px;

}
input,select{
  width:100%;
}
label {
    font-weight:bold;
}
.btn{
    margin-top:20px;
    width:100%
}
.col-md-5{
  border-radius:20px;
  background: rgb(212,194,4);
  background: linear-gradient(90deg, rgba(212,194,4,1) 1%, rgba(210,166,11,1) 100%, rgba(236,162,6,1) 100%);
}

span,li{
  font-family: 'Sacramento', cursive;
  font-family: 'Sacramento', cursive;


  
}

{% endblock styles %}

{% block body %}

<div class="mt-4 col-md-5 shadow p-4 mx-auto bg-warning">
    <h2 class="alert bg-dark text-center text-white">Create Account</h2>
    
  <form action="/signup/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="p-3 btn bg-dark text-white">
  </form>
</div>


{% endblock body %}